<!-- staff_view.html -->

{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Персонал организации</h1>
          <p class="mb-4">Для редактирования записей необходимо иметь права "Site_Administrator"</p>
          {% if title %}
	  {% autoescape off %}
          <p class="mb-4 text-success">{{ title }}</p>
	  {% endautoescape %}
          {% endif %}
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Полная выборка персонала</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Имя для входа</th>
                      <th>Имя</th>
                      <th>Фамилия</th>
                      <th>Позиция</th>
                      <th>Департамент</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Имя для входа</th>
                      <th>Имя</th>
                      <th>Фамилия</th>
                      <th>Позиция</th>
                      <th>Департамент</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    {% for instance in users %}
                    <tr>
                        <td><a href="{{ instance.profile.get_absolute_url }}"><strong>{{ instance.username }}</strong></a></td>
                        <td>{{ instance.first_name }}</td>
                        <td>{{ instance.last_name }}</td>
                        <td>{{ instance.profile.get_position }}</td>
                        <td>{{ instance.profile.department }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

{% endblock content %}