<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
        <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
        <add key="PYTHONPATH" value="D:\TekhnoritmWeb" />
        <add key="DJANGO_SETTINGS_MODULE" value="tekhnoritm_web.settings" />
    </appSettings>
    <system.web>
	<globalization 
		fileEncoding="utf-8" 
		requestEncoding="utf-8" 
		responseHeaderEncoding="utf-8" 
		responseEncoding="utf-8" 
		enableClientBasedCulture="false" 
		culture="ru" />
    </system.web>	
    <system.webServer>
        <handlers>
            <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="c:\python37\python.exe|c:\python37\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />	
        </handlers>
    </system.webServer>
</configuration>