<!-- generator_create.html -->

{% extends 'base.html' %}
{% load static %}

{% block content %}

  <div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Создание нового генератора!</h1>
              </div>
              <form class="user" name="form" id="main_form" method="post">
                  {% csrf_token %}
                  {% include 'bs4_form.html' %}

                <a href="javascript:;" onclick="document.getElementById('main_form').submit();" class="btn btn-primary btn-user btn-block">
                  Создать
                </a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

{% endblock content %}
