<!-- order_task_closed.html -->

{% extends 'base.html' %}
{% load static %}

{% block content %}

  <div class="container">
      <div class="row">
            <div class="col-xl-6 col-md-9 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                          ЗАЯВКА №{{ order_id }} -> Внутренняя заявка №{{ task_id }}
                      </div>
                      <div class="h6 mb-0 font-weight-bold text-warning">
                          Заявка закрыта {{ close_date }}
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
  </div>

{% endblock content %}
