{% load static %}

<script type="text/javascript">
  var search_input_card = $("#card_search_input");
  var delay_by_in_ms = 700;
  var scheduled_function_card = false;

  function call_search_card(request_parameter) {
    $.ajax({
      url: "{% url 'orders:ajax-control-card-search' %}",
      data: {'search_line': request_parameter},
      success: function(data) {
          $('#id_card').html(data);
      },
      error: function(data) {
          $('#id_card').html(data);
      }
    });
  }

  search_input_card.on('keyup', function () {
    var request_parameter = $(this).val(); // value of user_input: the HTML element with ID user-input

    if (scheduled_function_card) {
        clearTimeout(scheduled_function_card)
    }

    scheduled_function_card = setTimeout(call_search_card, delay_by_in_ms, request_parameter)
  })
</script>