{% load static %}

<div class="card-body">
  <div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
      <thead>
        <tr>
          <th>Наименование</th>
          <th>Представитель</th>
          <th>Телефон</th>
          <th>E-mail</th>
        </tr>
      </thead>
      <tbody>
        {% for instance in clients %}
        <tr>
            <td><a href="javascript:;" onclick="fill_field_by_client('project', '{{ instance.short_name }}', '{{ instance.id }}')"><strong>{{ instance.short_name }}</strong></a></td>
            <td>{{ instance.representative }}</td>
            <td>{{ instance.phone }}</td>
            <td>{{ instance.email }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<script type="text/javascript">
  var field_ref_owner = document.getElementById('id_ref_owner_text');
  var field_ref_owner_id = document.getElementById('id_ref_owner_id');
  var field_ref_prject = document.getElementById('id_ref_project_text');
  var field_ref_prject_id = document.getElementById('id_ref_project_id');
  function fill_field_by_client(param, name, client_id) {
    if (param === 'owner') {
      field_ref_owner.value = name;
      field_ref_owner_id.value = client_id
    }
    else {
      field_ref_prject.value = name;
      field_ref_prject_id.value = client_id
    }
  }
</script>