{% load static %}

<script>

        function createNewObject() {
            $.ajax({
              url: "{% url 'inspection:object-post' %}",
              data: {'ref_order': '{{ order.order_id }}'},
              success: function(data) {
                  $('#id_object_form').html(data);
                  $('#pills-detail-tab').click()
              }
            });
        }

        function editObject(param) {
            $.ajax({
              url: "{% url 'inspection:object-post' %}",
              data: {'ref_order': '{{ order.order_id }}',
                     'id': param},
              success: function(data) {
                  $('#id_success').empty();
                  $('#id_object_form').html(data);
                  $('#pills-detail-tab').click()
              }
            });
        }

        function load_object_table() {
                $.ajax({
                  url: "{% url 'inspection:object-list-table' %}",
                  data: {'order_id': '{{ order.order_id }}'},
                  success: function(data) {
                      $('#id_object_table').html(data);
                  }
                });
                return true
            }

        $(document).ready(function () {

            const csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
            function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

            function load_common_form() {
                $.ajax({
                      url: "{% url 'inspection:load-common-form' %}",
                      data: {'order_id': '{{ order.order_id }}'},
                      success: function(data) {
                          $('#id_common_form').html(data);
                      }
                    });
            }

            $('a[data-toggle="pill"]').on('show.bs.tab', function (e) {
                if (e.target.id === 'pills-list-tab') {
                    load_object_table()
                }
                else if (e.target.id === 'pills-common-tab') {
                    load_common_form()
                }
            });

            $('#main_form').on('submit', function(e) {
                e.preventDefault();
                e.stopPropagation();
                const my_data = new FormData(this);

                $.ajax({
                    url: "{% url 'inspection:object-post' %}", // the endpoint
                    type: "POST", // http method
                    dataType: 'html',
                    processData: false,
                    contentType: false,
                    data: my_data, // data sent with the post request

                    // handle a successful response
                    success : function(data) {
                        $('#id_object_form').html(data); // remove the value from the input
                        $('#pills-detail-tab').click()
                    },
                    error: function(data) {
                        const res = JSON.stringify(data);
                        $('#id_object_form').html(res);
                    }
                });
            });

            $('#common_form').on('submit', function(e) {
                e.preventDefault();
                e.stopPropagation();
                const my_data = new FormData(this);

                $.ajax({
                    url: "{% url 'inspection:load-common-form' %}", // the endpoint
                    type: "POST", // http method
                    dataType: 'html',
                    processData: false,
                    contentType: false,
                    data: my_data, // data sent with the post request

                    // handle a successful response
                    success : function(data) {
                        $('#id_common_form').html(data); // remove the value from the input
                        $('#pills-common-tab').click()
                    },
                    error: function(data) {
                        const res = JSON.stringify(data);
                        $('#id_object_form').html(res);
                    }
                });
            });
        });

        window.onload = function () {
            load_object_table()
        }
    </script>
