<!-- inspection/order_list.html -->

{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Управление объектами инспекции -> ВЫБОР ЗАЯВКИ</h1>
          {% if success %}
          <p class="mb-4 text-primary">{{ success }}</p>
          {% endif %}
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Номер заявки</th>
                      <th>Клиент</th>
                      <th>Дата создания</th>
                      <th>Срок до</th>
                      <th>Описание</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for instance in orders %}
                    <tr>
                        <td><a href="{% url 'inspection:object-list' order_id=instance.order_id %}"><strong>{{ instance.order_id }}</strong></a></td>
                        <td>{{ instance.client.short_name }}</td>
                        <td>{{ instance.create_date }}</td>
                        <td>{{ instance.dead_line }}</td>
                        <td>{{ instance.description }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

{% endblock content %}