<!-- workflow/home.html -->

{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Деятельность подразделения</h1>
            <a href="{% url 'int_messages:message-create' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Написать сообщение</a>
          </div>
<!-- End of Page Heading -->

    {% if perms.accounts.can_view_orders %}
    <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                           <h4>ДЕЛОПРОИЗВОДСТВО</h4>
                      </div>
                      <!--<div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>-->
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    </div>
    {% endif %}

    {% if perms.accounts.can_view_laboratory %}
    <div class="row">
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                           <h4>ИСПЫТАТЕЛЬНАЯ ЛАБОРАТОРИЯ</h4>
                      </div>
                      <!--<div class="h5 mb-0 font-weight-bold text-gray-800">$215,000</div>-->
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-flask fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    </div>
    {% endif %}

    {% if perms.accounts.can_view_inspection %}
    <div class="row">
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                           <h4>ОРГАН ИНСПЕКЦИИ</h4>
                      </div>
                      <!--<div class="row no-gutters align-items-center">-->
                        <!--<div class="col-auto">-->
                          <!--<div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>-->
                        <!--</div>-->
                        <!--<div class="col">-->
                          <!--<div class="progress progress-sm mr-2">-->
                            <!--<div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>-->
                          <!--</div>-->
                        <!--</div>-->
                      <!--</div>-->
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-graduation-cap fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    </div>
    {% endif %}

    {% if perms.accounts.can_view_sout %}
    <div class="row">
            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                           <h4>СОУТ</h4>
                      </div>
                      <!--<div class="h5 mb-0 font-weight-bold text-gray-800">18</div>-->
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-fire-extinguisher fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-12">
          <div class="m-1">
            <i class="fas fa-bell fa-2x fa-fw"></i>
            <!-- Counter - Alerts -->
            <span class="align-top badge badge-danger badge-counter">{{ alerts_val }}</span>
            &nbsp;&nbsp;<h4>Важные оповещения системы</h4>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="table-responsive">
            <table class="table table-bordered small" id="alertTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Дата</th>
                  <th>Сообщение</th>
                  <th>Обработка</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                    <td colspan="3" class="">
                        <span class="font-italic text-info h6 font-weight-bold">Персонально</span>
                    </td>
                </tr>
                {% if new_alerts.personal %}
                    {% for instance in new_alerts.personal %}
                    <tr>
                        <td class="text-center">
                            {{ instance.create_date|date:"d.m.Y" }}<br />
                            ID:{{ instance.id }}
                        </td>
                        <td>
                            <div id="id_alert_personal_{{ instance.id }}">
                              <div class="card">
                                <div class="card-header" id="heading_{{ instance.id }}">
                                  <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse_{{ instance.id }}" aria-expanded="true" aria-controls="collapse_{{ instance.id }}">
                                      {{ instance.topic }}
                                    </button>
                                  </h5>
                                </div>

                                <div id="collapse_{{ instance.id }}" class="collapse" aria-labelledby="heading_{{ instance.id }}" data-parent="#id_alert_personal_{{ instance.id }}">
                                  <div class="card-body">
                                      {% autoescape on %}
                                        {{ instance.body | linebreaksbr}}
                                      {% endautoescape %}
                                  </div>
                                </div>
                              </div>
                            </div>
                        </td>
                        <td class="text-center">
                            <a class="text-uppercase" href="{{ instance.action_url }}" target="_new">обработать</a><br />
                            <a class="text-uppercase small text-warning" href="{% url 'workflow:hide-message' msg_type='alert' msg_id=instance.id %}">скрыть</a>
                        </td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="3">
                            <span class="font-weight-bold">Отсутствуют</span>
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <td colspan="3" class="">
                        <span class="font-italic text-info h6 font-weight-bold">Подразделение</span>
                    </td>
                </tr>
                {% if new_alerts.department %}
                    {% for instance in new_alerts.department %}
                    <tr>
                        <td class="text-center">
                            {{ instance.create_date|date:"d.m.Y" }}<br />
                            ID:{{ instance.id }}
                        </td>
                        <td>
                            <div id="id_alert_department_{{ instance.id }}">
                              <div class="card">
                                <div class="card-header" id="heading_{{ instance.id }}">
                                  <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse_{{ instance.id }}" aria-expanded="true" aria-controls="collapse_{{ instance.id }}">
                                      {{ instance.topic }}
                                    </button>
                                  </h5>
                                </div>

                                <div id="collapse_{{ instance.id }}" class="collapse" aria-labelledby="heading_{{ instance.id }}" data-parent="#id_alert_department_{{ instance.id }}">
                                  <div class="card-body">
                                      {% autoescape on %}
                                        {{ instance.body | linebreaksbr}}
                                      {% endautoescape %}
                                  </div>
                                </div>
                              </div>
                            </div>
                        </td>
                        <td class="text-center">
                            <a class="text-uppercase" href="{{ instance.action_url }}" target="_new">обработать</a><br />
                            <a class="text-uppercase small text-warning" href="{% url 'workflow:hide-message' msg_type='alert' msg_id=instance.id %}">скрыть</a>
                        </td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="3">
                            <span class="font-weight-bold">Отсутствуют</span>
                        </td>
                    </tr>
                {% endif %}
              </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
          <div class="m-1">
            <i class="fas fa-envelope fa-fw fa-2x"></i>
                <!-- Counter - Messages -->
            <span class="badge badge-danger badge-counter">{{ messages_val }}</span>
              &nbsp;&nbsp;<h4>Внутри-организационное взаимодействие</h4>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="table-responsive">
            <table class="table table-bordered small" id="messageTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Дата</th>
                  <th>No. запроса</th>
                  <th>Отправитель</th>
                  <th>Топик</th>
                  <th>Обработка</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                    <td colspan="5" class="">
                        <span class="font-italic text-primary h6 font-weight-bold">Персонально</span>
                    </td>
                </tr>
                {% if new_messages.personal %}
                    {% for instance in new_messages.personal %}
                    <tr>
                        <td>
                            {{ instance.create_date }}
                        </td>
                        <td>
                            {{ instance.ticket_id }}
                        </td>
                        <td>
                            {{ instance.sender.first_name }}&nbsp;
                            {{ instance.sender.last_name }}
                        </td>
                        <td>
                            {{ instance.topic }}
                        </td>
                        <td>
                            <div class="font-weight-bold">Просмотреть&nbsp;<a href="{% url 'int_messages:message-detail' message_id=instance.id parent_box='inbox'  %}">здесь</a></div>
                        </td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="3">
                            <span class="font-weight-bold">Отсутствуют</span>
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <td colspan="5" class="">
                        <span class="font-italic text-primary h6 font-weight-bold">Подразделение</span>
                    </td>
                </tr>
                {% if new_messages.department %}
                    {% for instance in new_messages.department %}
                    <tr>
                        <td>
                            {{ instance.create_date }}
                        </td>
                        <td>
                            {{ instance.ticket_id }}
                        </td>
                        <td>
                            {{ instance.sender.first_name }}&nbsp;
                            {{ instance.sender.last_name }}
                        </td>
                        <td>
                            {{ instance.topic }}
                        </td>
                        <td>
                            <div class="font-weight-bold">Просмотреть&nbsp;<a href="{{ instance.get_absolute_url }}">здесь</a></div>
                        </td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="3">
                            <span class="font-weight-bold">Отсутствуют</span>
                        </td>
                    </tr>
                {% endif %}
              </tbody>
            </table>
        </div>
   </div>

    <script type="text/javascript">
        function mark_as_red(obj_type, obj_id, url) {
            $.ajax({
                  url: "{% url 'ajax-mark-as-red' %}",
                  data: {'obj_type': obj_type,
                         'obj_id': obj_id,},
                  dataType: 'json',
                  success: function(data) {
                      window.location = url
                  }
                });
        }
    </script>

{% endblock content %}
