<!-- config_card.html -->

{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Карточка настрйоки контроля задачи</h1>
            <a href="{% url 'int_messages:message-create' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Написать сообщение</a>
          </div>

          <div>
              {% if success %}
              <p class="text-success">{{ success }}</p>
              {% endif %}
          </div>

<!-- End of Page Heading -->


<div class="container">
    <div class="row">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                      ТИП: {{ control_card.ref_task.task_type }}&nbsp;&nbsp;ЦЕЛЬ: {{ control_card.ref_task.target }}
                  </div>
                  <div class="h6 mb-0 font-weight-bold text-gray-600">{{ control_card.ref_task.get_target_description }}</div>
                  <div class="text-xs font-weight-bold text-primary text-uppercase mt-2">
                      <a href="{% url 'order_control:target-list' %}"><i class="fas fa-share-square fa-1x text-success"></i> назад к списку</a>
                  </div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-calendar fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    {% if alert_message %}
        <h4 class="text-success">{{ alert_message }}</h4>
    {% endif %}
    <div class="card shadow m-2">
        <form class="user" id="main_form" method="POST" name="form">
          {% csrf_token %}
            <input type="hidden" id="id_ref_task" name="ref_task" value="{{ task_id }}">
            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-warn" role="tab" aria-controls="nav-warn" aria-selected="true"><span class="text-warning">Желтый уровень</span></a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-dang" role="tab" aria-controls="nav-dang" aria-selected="false"><span class="text-danger">Красный уровень</span></a>
              </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-warn" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class="form-group m-3 col-12">
                    {{ form.is_warn_control.label }}
                    <span class="text-danger">{{ form.is_warn_control.errors }}</span>
                    {{ form.is_warn_control }}
                    {% if form.is_warn_control.help_text %}
                    <p class="help font-italic small">*{{ form.is_warn_control.help_text|safe }}</p>
                    {% endif %}
                </div>
                <div class="form-group m-3 col-12">
                    {{ form.warn_days.label }}
                    <span class="text-danger">{{ form.warn_days.errors }}</span>
                    {{ form.warn_days }}
                    {% if form.warn_days.help_text %}
                    <p class="help font-italic small">*{{ form.warn_days.help_text|safe }}</p>
                    {% endif %}
                </div>
                <div class="form-group m-3 col-12">
                    {{ form.is_warn_alert.label }}
                    <span class="text-danger">{{ form.is_warn_alert.errors }}</span>
                    {{ form.is_warn_alert }}
                    {% if form.is_warn_alert.help_text %}
                    <p class="help font-italic small">*{{ form.is_warn_alert.help_text|safe }}</p>
                    {% endif %}
                </div>
                <div class="form-group m-3 col-12">
                    {{ form.warn_alert_type.label }}
                    <span class="text-danger">{{ form.warn_alert_type.errors }}</span>
                    {{ form.warn_alert_type }}
                    {% if form.warn_alert_type.help_text %}
                    <p class="help font-italic small">*{{ form.warn_alert_type.help_text|safe }}</p>
                    {% endif %}
                </div>
              </div>
              <div class="tab-pane fade" id="nav-dang" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div class="form-group m-3 col-12">
                    {{ form.is_dang_control.label }}
                    <span class="text-danger">{{ form.is_dang_control.errors }}</span>
                    {{ form.is_dang_control }}
                    {% if form.is_dang_control.help_text %}
                    <p class="help font-italic small">*{{ form.is_dang_control.help_text|safe }}</p>
                    {% endif %}
                </div>
                <div class="form-group m-3 col-12">
                    {{ form.dang_days.label }}
                    <span class="text-danger">{{ form.dang_days.errors }}</span>
                    {{ form.dang_days }}
                    {% if form.dang_days.help_text %}
                    <p class="help font-italic small">*{{ form.dang_days.help_text|safe }}</p>
                    {% endif %}
                </div>
                <div class="form-group m-3 col-12">
                    {{ form.is_dang_alert.label }}
                    <span class="text-danger">{{ form.is_dang_alert.errors }}</span>
                    {{ form.is_dang_alert }}
                    {% if form.is_dang_alert.help_text %}
                    <p class="help font-italic small">*{{ form.is_dang_alert.help_text|safe }}</p>
                    {% endif %}
                </div>
                <div class="form-group m-3 col-12">
                    {{ form.dang_alert_type.label }}
                    <span class="text-danger">{{ form.dang_alert_type.errors }}</span>
                    {{ form.dang_alert_type }}
                    {% if form.dang_alert_type.help_text %}
                    <p class="help font-italic small">*{{ form.dang_alert_type.help_text|safe }}</p>
                    {% endif %}
                </div>
              </div>
            </div>
            <div id="persons_list" class="m-2">
                {% include 'order_control/persons_to_alert.html' %}
            </div>
          <div class="m-2">
              <input class="btn btn-primary btn-user btn-block" type="submit" value="Сохранить" />
              <hr />
              <a href="{% url 'order_control:delete-card' card_id=control_card.id %}" class="small text-warning">* Удалить контроль задачи</a>
          </div>
        </form>
    </div>
</div>

<script type="text/javascript">

    function add_person(person_id) {
        $.ajax({
          url: "{% url 'order_control:add-person-to-alert' %}",
          data: {'person_id': person_id,
                 'task_id': {{ control_card.id }}
          },
          success: function(data) {
             $('#persons_list').html(data);
          }
        });
    }

    function delete_person(alert_personality_id) {
        $.ajax({
          url: "{% url 'order_control:delete-person' %}",
          data: {'alert_personality_id': alert_personality_id},
          success: function(data) {
             $('#persons_list').html(data);
          }
        });
    }

</script>

{% endblock content %}