{% load static %}

<div class="card-body">
  <div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
      <thead>
        <tr>
          <th>Дата документа</th>
          <th>Имя файла</th>
          <th>Просмотреть</th>
        </tr>
      </thead>
      <tbody>
        {% for instance in letters %}
        <tr>
            <td>{{ instance.file_create_date }}</td>
            <td>{{ instance.orig_file_name }}</td>
            <td><a href="{{ instance.attach.url }}" target="_new">Открыть</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>